// Color

$color-grey: #ddd;
$color-grey-dark: #777;

$color-primary: #007633 ;
$color-secondary: #83ffb8;

$color-blue: #aaf;
$color-blue-dark: #00b;

$color-red-dark: #b00;
$color-red: #faa;


$color-input-border: rgba(0, 0, 0, 0.15);

// Fonts

// Sizes

$editor-height: 300px;
$editor-width: 90%;
